<app-filter 
[all]="totalProductCount" 
[inStock]="totalProductInStock" 
[outOfStock]="totalProductOutOfStock" 
(selectedFilterRadioButtonChanged)="onFilterChanged($event)">
</app-filter>

<div class="ekart--product--container">
    <div *ngFor="let prod of products" (click)="selectedProduct = prod">
        <app-product  [product]="prod" *ngIf="searchText===''||prod.name.toLowerCase().includes(searchText)"></app-product>
    </div>
    </div>

<!-- 
*ngIf="selectedFilterRadioButton==='all' || prod.is_in_inventory.toString()===selectedFilterRadioButton" -->
<!-- [outOfStock]="totalProductOutOfStock" -->

